<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> boradWrite.html </title>
</head>
<body>
<div>
    <div>
    <h2>boardWrite.html</h2>
    <form method="post" action="/board/save" name="myform">
        코드 : <input type="text" name="code"> <br>
        이름 : <input type="text" name="name"> <br>
        제목 : <input type="text" name="subject"> <br>
        비번 : <input type="text" name="pwd"> <br>
        메일 : <input type="text" name="email"> <br>
        내용 : <textarea rows="3" cols="60" name="content"></textarea> <br>
        <input type="submit" value="부트저장">
        <input type="reset" value="입력취소">
    </form>
    </div>

</div>
</body>
</html>